include ./layout/head.jade
body
	.container
		include ./layout/nav.jade
		article
			h1.text-center 404 - Page not found!
			br
			img.img-responsive(src='img/tbservers.png', alt='Die Tumblebeasts spielen mal wieder verrückt! (c) the Oatmeal', title='Die Tumblebeasts spielen mal wieder verrückt! (c) the Oatmeal')
			a(href='http://www.theoatmeal.com', target='blank') die Heimat der Tumblebeasts besuchen..
			p.text-center Sehr fähige Bonobos versuchen zur Zeit den Fehler zu finden.
	include ./layout/footer.jade