include ./layout/head.jade
body
	.container
		include ./layout/nav.jade
		.panel.panel-default
			.panel-heading 
				h3 Erstelle nun dein Spiel
			| Hier wird dein Spiel erstellt
	include ./layout/footer.jade