include ./layout/head.jade
meta(http-equiv='Cache-Control', content='no-cache, no-store, must-revalidate')
meta(http-equiv='Pragma', content='no-cache')
meta(http-equiv='Expires', content='-1')
script(src='js/jscolor/jscolor.js')
body
	.container
		include ./layout/nav.jade
		.panel.panel-default
			.panel-heading 
				h3#createCaption Erstelle nun dein eigenes Spiel
				p#createDescription
			.panel-body
				div#preview
					canvas#gamePreview.horizontal
					p.previewtext Diese Vorschau dient lediglich zur Vorschau und spiegelt nicht die realen Größen oder ähnliches wieder.	
				div#options
					form(role='form', action='/createGame', method='post')

						//Divs für Wizzard
						//Spieloptionen
						div#seite1

							//Spieloptionen
							input#gamename.form-control(name='gamename', onkeyup='inputLimiter()', type='text', placeholder='Name deines Spiels', maxlength='20')
							div#titleletters.textcount 20
							br

							div.form-group
							textarea#gamedescription.form-control(name='game-description', onkeyup='textareaLimiter()' type='textarea', placeholder='Beschreibe dein Spiel', maxlength='150')
							div#descletters.textcount 150
							br
							| Wie soll dein Spiel sich verhalten?
							br
							br
							input#direction_horizontal(type='radio', name='scroll_direction', value='horizontal', checked='checked', onchange='changePreviewDirection("horizontal"); changePreviewCanvas("horizontal")')
							img#horizontal(src='img/horizontal.png', alt='horizontal', width='100px')
							input#direction_vertical(type='radio', name='scroll_direction', value='vertical', onchange='changePreviewDirection("vertical"); changePreviewCanvas("vertical")')
							img#vertical(src='img/vertical.png', alt='vertical', height='100px')
							br
							input#selfscroll(type='checkbox', name='selfscroll', onchange='showDiv("selfscroll"); setSelfscroll()')
							| 	Selbstscroller
							//Wenn selbsscroller dann anzeigen
							div#scroll.hidden
								| Scrollgeschwindigkeit:
								span#scroll_speed_span /
								input#scroll_speed(type='range', name='scroll_speed', min='1', max='20', value='10', oninput='showValue(this.value, "scroll_speed"); setSelfscroll(this.value)', onchange='showValue(this.value, "scroll_speed")')
							br
							a.btn.btn-primary.changePageBtn(href='#', onclick='changePage(2);') weiter	

						//Borders
						div#seite2.hidden

							h4 Grenzen
							//Top
							| Oben: 
							input#border_top(type='checkbox', name='border_top', value='true', onchange='changeBorder("top")')
							br

							//Bottom
							| Unten: 
							input#border_bottom(type='checkbox', name='border_bottom', value='true', checked='checked',onchange='changeBorder("bottom")')
							br

							//left
							| Links: 
							input#border_left(type='checkbox', name='border_left', value='true', onchange='changeBorder("left")')
							br

							//Right
							| Rechts: 
							input#border_right(type='checkbox', name='border_right', value='true', onchange='changeBorder("right")')
							br
							a.btn.btn-primary.changePageBtn(href='#', onclick='changePage(1);') zurück	
							a.btn.btn-primary.changePageBtn(href='#', onclick='changePage(3);') weiter	



						//PLayeroptionen
						div#seite3.hidden
							h4 Spieler

							| Form des Spielers
							select#player_shape.form-control(name='player_shape', size='1', onchange='showDiv("player_shape"); getPlayerOptions("shape", this.value)')
								option(value='eckig') eckig
								option(value='rund') rund	
								option(value='eigene') eigene Form hochladen (im nächsten Schritt)
							input#player_width.form-control(type='number', min='1', name='player_width', placeholder='Breite in px', onchange='getPlayerOptions()')
							input#player_height.form-control(type='number',min='1', name='player_height', placeholder='Höhe in px', onchange='getPlayerOptions()')
							input#player_color.form-control.color(type='text', name='player_color', placeholder='Farbe', onchange='getPlayerOptions()')

							| Geschwindigkeit des Spielers:
							span#player_speed_span /
							input#player_speed(type='range', name='player_speed', min='1', max='10', value='5', oninput='showValue(this.value, "player_speed");gameOptions.player.speed = parseInt(this.value);', onchange='showValue(this.value, "player_speed"); gameOptions.player.speed = parseInt(this.value);')

							| Gravitation des Spielers:
							span#player_gravity_span /
							input#player_gravity(type='range', name='player_gravity', min='0', max='0.9', step='0.1', value='0',oninput='showValue(this.value, "player_gravity"); gameOptions.player.gravity = this.value;', onchange='showValue(this.value, "player_gravity");gameOptions.player.gravity = this.value;')


							br
							// Schießen
							input#player_shoot_enable(type='checkbox', name='player_shoot_enabled', value='true', onchange='showDiv("shoot")')
							|  Schießen erlauben
							br

							//	Wenn an dann folgende werte zeigen
							div#shoot_enabled.hidden

								| Geschwindigkeit des Geschosses:
								span#shoot_speed_span /
								input#shoot_speed(type='range', name='shoot_speed', min='1', max='10', value='5', oninput='showValue(this.value, "shoot_speed")',onchange='showValue(this.value, "shoot_speed")')

								input#shoot_color.form-control.color(type='text', name='player_shoot_color', placeholder='Farbe', onchange='getFoeOptions()')
								select#shoot_shape.form-control(name='player_shoot_shape', size='1', onchange='getPlayerOptions("shoot", this.value)')
									option(value='eckig') eckig
									option(value='rund') rund	
									option(value='eigene') eigene Form hochladen (im nächsten Schritt)

							a.btn.btn-primary.changePageBtn(href='#', onclick='changePage(2);') zurück
							a.btn.btn-primary.changePageBtn(href='#', onclick='changePage(4);') weiter		

						// Gegner optionen				
						div#seite4.hidden
							h4 Gegner
								select#foes_shape.form-control(name='foes_shape', size='1', onchange='showDiv("foes_shape"); getFoeOptions(this.value)')
									option(value='eckig') eckig
									option(value='rund') rund
									option(value='eigene') eigene Form hochladen (im nächsten Schritt)	
							input#foes_width.form-control(type='number', min='1', name='foes_width', placeholder='Breite in px', onchange='getFoeOptions()')
							input#foes_height.form-control(type='number', min='1', name='foes_height', placeholder='Hoehe in px', onchange='getFoeOptions()')
							input#foes_color.form-control.color(type='text', name='foes_color', placeholder='Farbe', onchange='getFoeOptions()')
							input#foes_active(type='checkbox', name='foes_active', value='true', onchange='showDiv("foes"); getFoeOptions()')
							| 	Kann sich bewegen
							br
							div#foes_enabled.hidden
								| Geschwindigkeit des Gegners:
								span#foes_speed_span /
								input#foes_speed(type='range', name='foes_speed', min='1', max='10', value='5', oninput='showValue(this.value, "foes_speed")',onchange='showValue(this.value, "foes_speed"); getFoeOptions()')

								| Gravitation des Gegners:
								span#foes_gravity_span /
								input#foes_gravity(type='range', name='foes_gravity', min='0', max='10', value='5', oninput='showValue(this.value, "foes_gravity")',onchange='showValue(this.value, "foes_gravity"); getFoeOptions()')


							a.btn.btn-primary.changePageBtn(href='#', onclick='changePage(3);') zurück
							button#loginButton.btn.btn-lg.btn-primary.btn-block(type='submit') senden
	include ./layout/footer.jade
	script(src='js/gamePreview.js')

