include ./layout/head.jade
body
	.container
		include ./layout/nav.jade
		.panel.panel-default
			.panel-heading 
				h3 Erstelle nun dein Spiel
			form(method='POST', action='self')

				//Spieloptionen
				input(type='text', name='game_name', placeholder='Name des Spiels')
				input(type='text', name='game_description', placeholder='Beschreibung des Spiels')

				input(type='radio', name='type', value='horizontal', checked='checked')
				| horizontal Scroller 
				input(type='radio', name='type', value='vertical')
				| vertikal Scroller 
				br
				input(type='checkbox', name='selfscroll', value='true')
				| Selbstscroller
				//Wenn selbsscroller dann anzeigen
				input(type='number', name='scroll_speed', placeholder='Scrollgeschwindigkeit')

				//Borders

				//Top
				| Border Top
				input(type='checkbox', name='border_top', value='true')
				input(type='number', name='border_top_px', placeholder='Breite Border Top')

				//Bottom
				| Border Botom
				input(type='checkbox', name='border_bottom', value='true')
				input(type='number', name='border_bottom_px', placeholder='Breite Border bottom')

				//left
				| Border left
				input(type='checkbox', name='border_left', value='true')
				input(type='number', name='border_left_px', placeholder='Breite Border left')

				//Right
				| Border right
				input(type='checkbox', name='border_right', value='true')
				input(type='number', name='border_right_px', placeholder='Breite Border right')												


				//PLayeroptionen
				h4 Spieler
				input(type='checkbox', name='active', value='true')
				| kann sich bewegen

				input(type='number', name='player_speed', placeholder='Geschwindigkeit')
				input(type='number', name='player_gravity', placeholder='Gravitation')
				input(type='number', name='player_width', placeholder='Breite in px')
				input(type='number', name='player_height', placeholder='Hoehe in px')
				input(type='number', name='player_color', placeholder='Farbe')
				select(name='player_shape', size='1')
					option Eckig
					option Rund	
					option eigen

				// Schießen
				input(type='checkbox', name='shoot', value='true')
				|  Schießen erlauben

				//	Wenn an dann folgende werte zeigen
				input(type='number', name='projectile_speed', placeholder='Geschwindigkeit')
				input(type='number', name='projectile_color', placeholder='Farbe')
				select(name='projectile_shape', size='1')
					option Eckig
					option Rund	
					option eigen

				// Gegner optionen				
				h4 Gegner
				select(name='foes_shape', size='1')
					option Eckig
					option Rund	
				input(type='number', name='foes_width', placeholder='Breite in px')
				input(type='number', name='foes_height', placeholder='Hoehe in px')
				input(type='checkbox', name='foes_active', value='true')
				| kann sich bewegen
				input(type='number', name='foes_speed', placeholder='Geschwindigkeit')
				input(type='number', name='foes_gravity', placeholder='Gravitation')
				input(type='number', name='foes_color', placeholder='Farbe')				
				input(type='submit', value='senden')
	include ./layout/footer.jade

