include ./layout/head.jade
body
	.container
		include ./layout/nav.jade 
		.panel.panel-default
			.panel-heading 
				h2 Impressum
			.panel-body
				br
				.impressum
					h4 Hinweis:
					p 
						| Du willst ein Spiel downloaden? Dann lade dir zusätzlich 
						a(href='js/template.js' download='WeLoveGames_template.js')  dieses
						|  Datei herunter.
					p
					strong Impressum
					p Angaben gem&auml;&szlig; &sect; 5 TMG: 
					p
					| We Love Games Gmbh 
					br
					| Meta Sattler Str. 33 
					br
					| 28217 Bremen
					p
					b Vertreten durch:
					|  
					br
					| Die Gesch&auml;ftsf&uuml;hrer
					br
					br
					| Dennis Kohlmann,
					br
					| Lukas Trenkner,
					br
					| Mike Dobrinski,
					br
					| Sebastian Schr&ouml;der
					p
					b Kontakt:
					|  
					br
					| Telefon: +49 (0) 421 36159688 
					br
					| E-Mail: 
					a(href='mailto:we@lovegames.de') we@lovegames.de
					p
					strong Allgemeine Datenschutzerkl&auml;rung
					p
					| Durch die Nutzung unserer Website erkl&auml;ren Sie sich mit der Erhebung, Verarbeitung und Nutzung von Daten gem&auml;&szlig; der nachfolgenden Beschreibung einverstanden. Unsere Website kann grunds&auml;tzlich ohne Registrierung besucht werden. Dabei werden Daten wie beispielsweise aufgerufene Seiten bzw. Namen der abgerufenen Datei, Datum und Uhrzeit zu statistischen Zwecken auf dem Server gespeichert, ohne dass diese Daten unmittelbar auf Ihre Person bezogen werden. Personenbezogene Daten, insbesondere Name, Adresse oder E-Mail-Adresse werden soweit m&ouml;glich auf freiwilliger Basis erhoben. Ohne Ihre Einwilligung erfolgt keine Weitergabe der Daten an Dritte.
					p
					strong Datenschutzerkl&auml;rung f&uuml;r Cookies
					p
					| Unsere Website verwendet Cookies. Das sind kleine Textdateien, die es m&ouml;glich machen, auf dem Endger&auml;t des Nutzers spezifische, auf den Nutzer bezogene Informationen zu speichern, w&auml;hrend er die Website nutzt. Cookies erm&ouml;glichen es, insbesondere Nutzungsh&auml;ufigkeit und Nutzeranzahl der Seiten zu ermitteln, Verhaltensweisen der Seitennutzung zu analysieren, aber auch unser Angebot kundenfreundlicher zu gestalten. Cookies bleiben &uuml;ber das Ende einer Browser-Sitzung gespeichert und k&ouml;nnen bei einem erneuten Seitenbesuch wieder aufgerufen werden. Wenn Sie das nicht w&uuml;nschen, sollten Sie Ihren Internetbrowser so einstellen, dass er die Annahme von Cookies verweigert.
					p
					strong Disclaimer
					p
					| Inhalt und Werke dieser Website sind urheberrechtlich gesch&uuml;tzt. Trotz h&ouml;chster Sorgfalt kann nicht f&uuml;r die Richtigkeit der wiedergegebenen Informationen oder die permanente technische Erreichbarkeit garantiert werden. Es wird keine Haftung f&uuml;r den Inhalt von extern verlinkten Websites &uuml;bernommen. Auf deren Inhalte haben wir keinen Einfluss und distanzieren uns ausdr&uuml;cklich. Sollten Sie dennoch etwas an unseren Seiten zu beanstanden haben, bitten wir um einen einfachen entsprechenden Hinweis, damit wir die Inhalte schnellstm&ouml;glich entfernen k&ouml;nnen.
	include ./layout/footer.jade