include ./layout/head.jade
body
	.container
		include ./layout/nav.jade 
		.panel.panel-default
			.panel-heading 
				h2 Neuen User anlegen	
			.panel-body
				br
				-if(message != "")
					div.alert.alert-warning #{message} 
				form.form-signin(role='form' method='post', action='signUp')
					.input-group
						input#user.form-control(name='username', type='text', autocomplete='off', placeholder='Benutzername', required='required', autofocus='autofocus')
						input#email.form-control(name='email', type='text', autocomplete='off', placeholder='Email', required='required')
						input#password.form-control(name='password', type='password', autocomplete='off', placeholder='Passwort', required='required',)
						input#password_confirmation.form-control(name='password_confirmation', type='password', autocomplete='off', placeholder='Passwort wiederholung', required='required')
					button#registerButton.btn.btn-lg.btn-primary.btn-block.confirmButton(onclick='return checkPass();', type='submit') Anlegen
	include ./layout/footer.jade