include ./layout/head.jade
body
	.container
		include ./layout/nav.jade
		.panel.panel-default
			.panel-heading 
				h3#createCaption Lade Dateien für dein Spiel hoch
			.panel-body
				form#files(action='', method='post', enctype='multipart/form-data')
					.vorschaubild
						label.createGameOption(for='preview') Vorschaubild
						input#vorschau(type='file', name='preview', accept=".png,.jpg,.jpeg", required="required")
					.backgroundinput
						label.createGameOption(for='background') Hintergrundbild
						input#background(type='file', name='background', accept=".png,.jpg,.jpeg", required="required")
					button#loginButton.btn.btn-lg.btn-primary.btn-block(type='submit',onclick='uploadUserFiles();') Hochladen
	//script.
	//	updateFilePicker(!{JSON.stringify(gameObj)})
	include ./layout/footer.jade