include ./layout/head.jade
body
	.container
		include ./layout/nav.jade 
		.panel.panel-default
			.panel-heading 
				h2 Was möchtest du tun?
			.panel-body
				br
				a.btn.btn-primary.uploadBtn(href='/uploadDoneGame') Ein fertiges Spiel hochladen
				br
				a.btn.btn-primary.uploadBtn(href='createGame') Ein Spiel jetzt selber gestalten
				br
				br
	include ./layout/footer.jade