include ./layout/head.jade
body
	.container
		include ./layout/nav.jade
		.panel.panel-default
			.panel-heading 
				h3#createCaption Lade Dateien für dein Spiel hoch
			.panel-body
				form#files(action='', method='post', enctype='multipart/form-data')
					.vorschaubild
						label(for='preview') Vorschaubild
						input#vorschau(type='file', name='preview', accept=".png,.jpg,.jpeg")
					.spielerform.hidden
						label(for='player') Spieler Form
						input(type='file', name='player', accept=".png,.jpg,.jpeg")
					.schussform.hidden
						label(for='shoot') Schuss Form
						input(type='file', name='shoot', accept=".png,.jpg,.jpeg")
					.gegnerform.hidden
						label(for='foes') Gegner Form
						input(type='file', name='foes', accept=".png,.jpg,.jpeg")
					button#loginButton.btn.btn-lg.btn-primary.btn-block(type='submit',onclick='uploadUserFiles();') Hochladen
	script.
		updateFilePicker(!{JSON.stringify(gameObj)})
	include ./layout/footer.jade