doctype html
html(lang='de')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        // Favicon 
        link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
        link(rel='icon', href='img/favicon.ico', type='image/x-icon')
        title!= title
        //jQuery 1.9.1 für IE 6, 7 & 8 
        script(src='js/jquery-1.9.1.js')
        script(src='bootstrap-3.2.0/js/jquery-2.1.1.min.js')
        //Sweetalert
        script(src='js/sweetalert/dist/sweetalert.min.js')
        link(href='js/sweetalert/dist/sweetalert.css', rel='stylesheet', type='text/css')

        link(href='css/style.css', rel='stylesheet')
        script(src='js/welovegames.js')
        // Bootstrap core CSS + JS
        script(src='bootstrap-3.2.0/js/bootstrap.js')
        link(href='bootstrap-3.2.0/css/bootstrap.css', rel='stylesheet')          