nav.navbar.navbar-default(role='navigation')
  .navbar-header
    a.navbar-brand(href='/')
      | we
      span.red ♥
      | games
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    ul.nav.navbar-nav
      if(user)
        li
          a(href='upload.html') Spiel erstellen
        if(user.isAdmin ==1)
            li.divider(role='presentation')
            li(role='presentation')
              a(role='menuitem', tabindex='-1', href='/signUp.html') Neuen User anlegen
            li(role='presentation')
              a(role='menuitem', tabindex='-1', href='/tableUsers.html') Alle Benutzer anzeigen
            li(role='presentation')
              a(role='menuitem', tabindex='-1', href='/tableGames.html') Alle Spiele anzeigen
        .dropdown
          button#userMenu.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
            | #{user.username} 
            span.caret
          ul#userDropdown.dropdown-menu(role='menu', aria-labelledby='menu1')
            li(role='presentation')
              a(role='menuitem', tabindex='-1', href='/userSetting.html') Mein Profil bearbeiten
            li.divider(role='presentation')
            li(role='presentation')
              a(role='menuitem', tabindex='-1', href='/logout') Logout
      else
        a#login.btn.btn-default(href='/login.html') Login &nbsp;
          span.glyphicon.glyphicon-log-in
    form.navbar-form.navbar-left(role='search', method='post', action='/search')
      .form-group
        input#searchText.form-control(type='text', name='search', placeholder='Suchen')
        button.btn.btn-default(type='submit') Los
.jumbotron
  h1
    | we
    span.red ♥
    | games
  p.text-muted Deine Plattform für JavaScript-Spiele