nav.navbar.navbar-default(role='navigation')
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target="#example-navbar-collapse")
      span.sr-only
          | Toggle Navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar 
    a.navbar-brand(href='/')
      | we
      span.red ♥
      | games
  #example-navbar-collapse.collapse.navbar-collapse
    ul.nav.navbar-nav
      if(user)
        li
          a(href='upload') Spiel erstellen 
        if(user.isAdmin == 1)
            li.divider(role='presentation')
            li(role='presentation')
              a(role='menuitem', tabindex='-1', href='/signUp') Neuen User anlegen
            li(role='presentation')
              a(role='menuitem', tabindex='-1', href='/tableUsers') Alle Benutzer anzeigen
            li(role='presentation')
              a(role='menuitem', tabindex='-1', href='/tableGames') Alle Spiele anzeigen
         else
            li(role='presentation')
              a(role='menuitem', tabindex='-1', href='/myGames') Meine Spiele          
        .dropdown
          button#userMenu.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
            | #{user.username} 
            span.caret
          ul#userDropdown.dropdown-menu(role='menu', aria-labelledby='menu1')
            li(role='presentation')
              a(role='menuitem', tabindex='-1', href='/userSetting') Mein Profil bearbeiten   
            if(user.isAdmin == 1)
              li(role='presentation')
                a(role='menuitem',tabindex='-1', href='/myGames') Meine Spiele         
            li.divider(role='presentation')
            li(role='presentation')
              a(role='menuitem', tabindex='-1', href='/logout') Logout
      else
        a#login.btn.btn-default(href='/login') Login &nbsp;
          span.glyphicon.glyphicon-log-in
    form.navbar-form.navbar-left(role='search', method='post', action='/search')
      .form-group
        input#searchText.form-control(type='text', name='search', placeholder='Suchen')
        button.btn.btn-default(type='submit') Los
